# Ignore all .pyc files
*.pyc

# Ignore the virtual environment directory
myenv/

# Ignore the __pycache__ directory
__pycache__/

# Ignore any files containing sensitive information
config.ini
secrets.json
